/* setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */


:root{ 
    /* grey */
    --grey-950: hsl(255, 22%, 4%);
--grey900: hsl(248, 17%, 9%);
--grey850: hsl(248, 15%, 11%);
--grey800: hsl(248, 10%, 15%);
--grey700: hsl(248, 5%, 34%);
--grey600: hsl(251, 9%, 53%);
--grey200: hsl(252, 11%, 91%);

/* green */

--green200: hsl(127, 100%, 82%);

--greenhover: hsl(127, 100%, 79%);

/* yellow */
--yellow300: hsl(42, 91%, 68%);

/* orange */
--orange400: hsl(13, 95%, 66%);

/* red */
--red500: hsl(0, 91%, 63%);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-color: var(--grey-950);
    font-family: 'JetBrains Mono', sans-serif;
}

.main-wrapper{
    width: 100%;
}
.app-name{
font-size: clamp(1rem, 1rem + 0.05vw, 1.1rem);
text-align: center;
color: var(--grey600);
margin-block-end: 1rem;
}

.pw-generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.result-copy svg{
    cursor: pointer;
    fill: var(--green200);
    transition: 0.2s ease-in;
}

.result-copy svg:hover{
    fill: white;
}

.result-copy .flex-between{
    gap: 0.5rem;
  
}

/* password input styling */

/* place holder color */
 

.result-copy input{
    outline: none;
    border: none;
    background-color: var(--grey800);
    color:var(--grey200) ;
    font-size: clamp(1.5rem, 1.5rem + 0.05vw, 1.6rem);
  width: 70%;
}



input[readonly]{
    pointer-events: none;
}

.result-copy .input::placeholder{
    color: var(--grey700) ;
}

.copy-corner p{
    font-size: clamp(1rem, 1rem + 0.02vw, 1.1rem);
    color: var(--green200);
}

.length-parameters{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.parameters{
    margin-block: 2rem  1.3rem
}

/* track and number of digits styling */

.length-track label{
  color: var(--grey200);  
  font-weight: bold;
  font-size: clamp(1rem, 1rem + 0.03vw, 1.2rem)
}

.digits{
    color: var(--green200);
    font-size: clamp(1.5rem, 1.5rem + 0.05vw, 1.6rem);
}


/* track styling */
input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin-block-start:1rem;
    appearance: none;
    height: 0.5rem;
    background: linear-gradient(
        to right,
        var(--green200) 0%,
        var(--green200) var(--slider-progress, 0%),
        var(--grey850) var(--slider-progress, 0%),
        var(--grey850) 100%
    );
}


/* styling the thumb */

input[type="range"]::-moz-range-thumb{
   border: none;
   width: 1.4rem;
   height: 1.4rem;
   border-radius: 50%;
   border: 2px solid white;
   transition: 0.2s ease-in;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    width: 1.4rem;
   height: 1.4rem;
   border-radius: 50%;
   border: 2px solid white;
   transition: 0.2s ease-in;
   margin-block-start: 0.5rem;
}



input[type="range"]::-webkit-slider-thumb:hover {
background-color: var(--grey-950);
border: 2px solid var(--green200);
}

input[type="range"]::-moz-range-thumb:hover {
   background-color: var(--grey-950);
    border: 2px solid var(--green200);
}

input[type="range"]::-moz-range-thumb:active {
  background-color: var(--grey-950);
    border: 2px solid var(--green200);
  
}


input[type="range"]::-webkit-slider-thumb:active {
background-color: var(--grey-950);
border: 2px solid var(--green200);
}

/* styling the checkboxes */

input[type="checkbox"]{
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border: 0.1rem solid var(--grey200);
    font: inherit;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}



.parameter{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-block-end: 0.7rem;
}



.parameter label{
    cursor: pointer;
}

input[type="checkbox"]::before{transition: 0.5s ease-in;
    content:url(password-generator-app/starter-code/assets/images/icon-check.svg);
    transform:scale(0);
    width:10%;
    height:10%;
      transition: 0.15s ease-in-out;
}

input[type="checkbox"]:checked{
    background-color: var(--green200);
    border: none;
    
    
}

input[type="checkbox"]:checked::before{
    transform: scale(1);

}

/* strngth bar */
.strength-section p{
    color: var(--grey600);
    font-size: clamp(1.5rem, 1.5rem + 0.05vw, 1.6rem);
}

.strength-meter{
    gap: 0.5rem;
}

.strength-meter p{
   font-size: clamp(1rem, 1rem + 0.02vw, 1.1rem);
   color: var(--grey200); 
   font-weight: bold;
}

.bars{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.bar{
    width:0.5rem;
    height: 1.5rem;
    border: 2px solid var(--grey200);
}

.too-weak{
    background-color: var(--red500);
    border: none;
}

.weak{
   background-color: var(--orange400);  
   border: none;
}

.medium{
    background-color: var(--yellow300);
    border: none;
}

.strong{
    background-color: var(--green200);
    border: none;
}


/* button */
button{
    width: 100%;
    border: 2px solid var(--green200);
    background-color: var(--green200);
    padding-inline: 6.5rem;
    padding-block: 1rem;
    font-size: clamp(1rem, 1rem + 0.02vw, 1.1rem);
    font-weight: bold;
display: flex;
flex-direction: row;
gap: 1rem;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.2s ease-in-out;
}

button:hover{
    background-color: var(--grey-950);
    color: var(--green200);
    border: 2px solid var(--green200);
    fill: var(--green200);
}




/* utility classes */

.card{
  background-color: var(--grey800); 
  width: 95%;
  margin: 0 auto;
  padding-block-start: clamp(1rem, 0.7rem + 1.8vw, 1.5rem);
  padding-block-end: clamp(1rem, 0.7rem + 1.8vw, 1.5rem);
  padding-inline: clamp(1rem, 0.7rem + 1vw, 1.2rem);
  max-width:33rem
}

.flex-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-black{

  background-color: var(--grey850); 
  width: 100%;
  margin: 0 auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin-block-end:clamp(1rem, 0.7rem + 1.5vw, 2rem);
 
}

.error{
    color: var(--red500);
    font-size: clamp(0.8rem, 0.8rem + 0.5vw, 0.9rem);
    position: absolute;
}

.hidden{
    display: none;
    transition: 0.5 ease-in;
}

.active{
    display: block;
    transition: 0.5 ease-out;
}




 